@model WebApplication1.Models.HeadAccountsInformations

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        @if (Model != null && Model.HeadAccountTitle != null)
                        {
                            <h3 class="card-title">Update</h3>
                        }
                        else
                        {
                            <h3 class="card-title">Create New</h3>
                        }
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="card-body">
                            <div class="row">
                                <input asp-for="Id" type="hidden" />
                                <input asp-for="CreatedBy" type="hidden" />
                                <input asp-for="CreatedDate" type="hidden" />
                                <input asp-for="IsActive" type="hidden" />

                                <div class="col-lg-2 col-sm-6 mt-1">
                                    <label asp-for="ControlAccountId">Control Account</label>
                                </div>
                                <div class="col-lg-10 col-sm-6 mt-1">
                                    <select class="custom-select rounded-0" id="ControlAccountId" name="ControlAccountId" asp-for="ControlAccountId">
                                        @foreach (var controlAccount in ViewBag.controlAccounts)
                                        {
                                            <option value="@controlAccount.Id">@controlAccount.ControlAccountName</option>
                                        }
                                    </select>
                                    <span asp-validation-for="ControlAccountId" class="text-danger"></span>
                                </div>

                                <div class="col-lg-2 col-sm-6 mt-1">
                                    <label asp-for="HeadAccountTitle">Account Title</label>
                                </div>
                                <div class="col-lg-10 col-sm-6 mt-1">
                                    <input type="text" name="HeadAccountTitle" asp-for="HeadAccountTitle" autocomplete="off" class="form-control text-capitalize" placeholder="Enter Head Account Title">
                                    <span asp-validation-for="HeadAccountTitle" class="text-danger"></span>
                                </div>
                                <div class="col-lg-2 col-sm-6 mt-1">
                                    <label asp-for="Code">Account Code</label>
                                </div>

                                <div class="col-lg-10 col-sm-6 mt-1">
                                    <input name="Code" asp-for="Code" id="Code" readonly="readonly" autocomplete="off" class="form-control text-capitalize" placeholder="Enter Account Code" />
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <input type="submit" value="Submit" class="btn btn-success" /> | 
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#ControlAccountId").on("change", function () {
                $.ajax({
                    url: "/HeadAccount/GetAccountCode",
                    type: "POST",
                    data: { ControlAccountId: $("#ControlAccountId").val() },
                    traditional: true,
                    success: function (result) {
                        $("#Code").val(result);
                        console.log(result);
                    },
                    error: function () {
                        alert("Something went wrong");
                    }
                });
            });
        });

        $(document).on("contextmenu", function (e) {
            e.preventDefault();
        });
    </script>
}
