<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <label type="text" id="TotalEmployee"></label>         
                <p> <a href="/Employee/Create" style="color:white"> <i class="fa fa-plus"></i> Add New Employee</a> </p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="/Employee" class="small-box-footer">All Employees info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <label id="TotalVehicle"></label>
                <p> <a href="/Vehicle/Create" style="color:white"> <i class="fa fa-plus"></i> Add New Vehicle</a> </p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/Vehicle" class="small-box-footer">All Vehicle info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <label id="TotalQuotaion"></label>
                <p> <a href="/Quotation/Create" style="color:white"> <i class="fa fa-plus"></i> Add New Quotation</a> </p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="/Quotation" class="small-box-footer">All Quotation info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <label id="TotalInvoice"></label>
                <p>Invoice</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">All Invoice info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>


