@model WebApplication1.Models.ControlAccountInformations

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        @if (Model != null && Model.ControlAccountName != null)
                        {
                        <h3 class="card-title">Update</h3>
                        }
                        else
                        {
                            <h3 class="card-title">Create New</h3>
                        }
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="card-body">
                            <div class="row">
                                <input asp-for="Id" type="hidden" />
                                <input asp-for="CreatedBy" type="hidden" />
                                <input asp-for="CreatedDate" type="hidden" />
                                <input asp-for="IsActive" type="hidden" />
                                <div class="col-lg-2 col-sm-6">
                                    <label asp-for="ControlAccountName">Account Title</label>
                                </div>
                                <div class="col-lg-10 col-sm-6">
                                    <input type="text" name="ControlAccountName" asp-for="ControlAccountName" autocomplete="off" class="form-control text-capitalize" placeholder="Enter Account Title">
                                    <span asp-validation-for="ControlAccountName" class="text-danger"></span>
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <label asp-for="ControlAccountName">Account Code</label>
                                </div>
                                <div class="col-lg-10 col-sm-6 mt-1">
                                    <input type="number" name="Code" asp-for="Code" autocomplete="off" class="form-control text-capitalize">
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <input type="submit" value="Submit" class="btn btn-success" /> |
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


